doctype html
html
  head
    meta charset="UTF-8"
    script src="../components/jquery/jquery.js" type='text/javascript'
    script src="../components/handlebars.js/dist/handlebars.js" type='text/javascript'
    script src="../components/pad/monster.js" type="text/javascript"
    link rel='stylesheet' href='../components/bootstrap/bootstrap.min.css'

  body
    .monster
    script#monster-template type="text/x-handlebars-template"
      h3= "{{monster.name_jp}}"
      table.table.table-bordered
        tr
          td 名称
          td= "{{monster.name}}"
        tr
          td 编号
          td= "{{monster.number}}"
        tr
          td 稀有
          td= "{{monster.rarity}}"
        tr
          td COST
          td= "{{monster.cost}}"
        tr
          td 属性
          td= "{{monster.main_attr}}"
        tr
          td 副属性
          td= "{{monster.sub_attr}}"
        tr
          td 类型
          td= "{{monster.monster_type}}"
        tr
          td 系列
          td= "{{monster.series}}"
        tr
          td 满级经验
          td= "{{monster.max_exp}}"
        tr
          td 初始经验
          td= "{{monster.fuse_exp}}"
        tr
          td 初始等级
          td= "{{monster.initial_lv}}"
        tr
          td HP
          td= "{{monster.hp}}"
        tr
          td 攻击
          td= "{{monster.atk}}"
        tr
          td 回复
          td= "{{monster.rcv}}"
        tr
          td 综合能力
          td= "{{monster.weighted_stat}}"
        tr
          td 最高等级
          td= "{{monster.max_lv}}"
        tr
          td 满级HP
          td= "{{monster.final_hp}}"
        tr
          td 满级攻击
          td= "{{monster.final_atk}}"
        tr
          td 满级回复
          td= "{{monster.final_rcv}}"
        tr
          td 满级能力
          td= "{{monster.final_wt_stat}}"
